@font-face {
    font-family: "PT Root UI";
    src: url("../fonts/Ptrootui.woff") format("woff");
    font-weight: normal;
}

@font-face {
    font-family: "PT Root UI";
    src: url("../fonts/Ptrootuimedium.woff") format("woff");
    font-weight: 500;
}

@font-face {
    font-family: "PT Root UI";
    src: url("../fonts/Ptrootuibold.woff") format("woff");
    font-weight: 700;
}

body {
    padding: 0;
    margin: 0;

    font-family: "PT Root UI", sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: normal;
    color: #23201F;
    background: #E5E5E5;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.small-container {
    width: 970px;
    margin: 0 auto;
    position: relative;
}

.content-wrapper {
    width: 700px;
}

.link {
    line-height: 26px;
    color: #1C5F87;
}

.main-article .section-title {
    font-weight: 500;
    font-size: 30px;
    line-height: 42px;

    margin: 0;
}

.main-article h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;

    margin: 0;
}

a:focus, a:hover {
    opacity: 0.6;
}

.a:active {
    opacity: 0.3;
}

.header-wrapper:first-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 22px 0;
}

.indicators-list {
    display: flex;

    list-style: none;
    margin: 0 -32px 0 0;
    padding: 0;

    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
}

.indicators-item {
    margin-right: 32px;
}

.indicators-name {
    display: inline-block;
    margin-right: 12px;
}

.indicators-diff {
    display: inline-block;

    width: 5px;
    height: 8px;
    margin-right: 3px;
}

.indicators-diff-fall {
    background: url("../img/arrow-down.svg") no-repeat center;
}

.indicators-diff-grow {
    background: url("../img/arrow-up.svg") no-repeat center;
}

.rub {
    display: inline-block;
    width: 5px;
    height: 8px;
    margin-left: 3px;
    background: url("../img/ruble.svg") no-repeat center;
}

.header-wrapper:last-of-type {
    padding: 15px 0;
    border-top: 1px solid  rgba(35, 32, 31, 0.1);
    border-bottom: 1px solid  rgba(35, 32, 31, 0.1);
}

.menu-list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

    list-style: none;
    margin: 0 auto;
    padding: 0;
    max-width: 970px;
}

.menu-item {
    margin-right: 37px;
}

.menu-item:last-child {
    margin-right: 0;
}

.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #23201F;
    text-decoration: none;
}

.breadcrumbs-list {
    display: flex;
    align-items: flex-start;

    list-style: none;
    margin: 0;
    padding: 50px 0 25px;
}

.breadcrumbs-item {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.03em;
}

.breadcrumbs-item:not(:last-child):after {
    content: "/";

    display: inline-block;
    margin: 0 3px;

}

.breadcrumbs-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #FA5B3D;
}

.breadcrumbs-item:last-child .breadcrumbs-link {
    color: #23201F;
    opacity: 0.5;
}

.main-article p {
    margin: 20px 0;
}

h1 {
    margin: 0 0 20px;
}

.meta-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 0;
    border-bottom: 1px solid rgba(35, 32, 31, 0.1);
}

.meta-col {
    position: relative;
    max-width: 50%;
}

.meta-col:first-child {
    display: flex;
}

.author-information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-left: 20px;
}

.meta {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    font-style: normal;
}

.meta-date {
    opacity: 0.6;
    margin-top: 5px;
}

.socials-list {
    display: flex;
    align-items: flex-start;

    list-style: none;
    padding: 0;
    margin: 0;
}

.socials-item {
    margin-right: 15px;
}

.socials-item:last-child {
    margin-right: 0;
}

.socials-link {
    display: inline-block;
    width: 36px;
    height: 36px;
    border: 1px solid #E5E4E4;
    border-radius: 50%
}

.socials-link-vk {
    background: url(../img/vkontakte.svg) no-repeat center;
}

.socials-link-fb {
    background: url(../img/facebook.svg) no-repeat center;
}

.socials-link-inst {
    background: url(../img/instagram.svg) no-repeat center;
}

.socials-link-tw {
    background: url(../img/twitter.svg) no-repeat center;
}

.intro {
    font-weight: 500;
    font-size: 30px;
    line-height: 42px;

    margin: 40px 0 20px;
}

.main-article-nav-header {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
}

.main-article-nav-list {
    margin: 0;
    padding: 0 0 0 20px;
    font-weight: 500;
}

.main-article-nav-item {
    margin: 0 0 8px;
    padding-left: 10px;
}

.main-article-nav-list .link {
    font-weight: normal;
}

.borrower {
    margin-top: 60px;
}

.border-aside {
    padding: 25px;
    margin: 30px 0;
    border: 5px solid #1C5F87;
    border-image: repeating-linear-gradient(-45deg, #1c5f87, #1c5f87 15px, #23201f 15px, #23201f 20px) 13;
    background-color: white;
    text-align: center;
}

.border-aside p {
    margin: 0 0 10px;
}

.border-aside .link {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.right-aside {
    position: absolute;
    right: 0;

    width: 170px;

    font-size: 18px;
    line-height: 24px;
}

.borrower .right-aside {
    top: 408px;
}

.credits-table {
    width: 100%;
    border-collapse: collapse;

    font-size: 16px;
    line-height: 20px;
}

.credits-table caption {
    margin: 40px 0 30px;

    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
}

.credits-table td, .credits-table th {
    border: 1px solid rgba(35, 32, 31, 0.6);
    padding: 12px 10px;

}

.credits-table td:not(:first-child) {
    text-align: center;
}

.credits-table td {
    background-color: #fff;
}

.credits-table tfoot td, .credits-table th {
    background-color: #1C5F87;
    color: #fff;
    font-weight: 500;
}

.main-article figure {
    margin: 0;
}

.main-article figcaption {
    font-size: 14px;
    line-height: 18px;
    margin-top: 15px;
}

.main-article h2.credits-reason-title {
    margin: 60px 0 30px;
}

.credits-reason .right-aside {
    top: 141px;
}

.line-through {
    text-decoration: line-through;
}

.chart {
    display: block;
    margin-top: 40px;
}

.debtor {
    margin-top: 60px;
}

.debtor .right-aside:first-of-type {
    top: 105px;
}

.debtor-table {
    width: 100%;
    border-collapse: collapse;

    font-size: 16px;
    line-height: 20px;
}

.debtor-table caption {
    margin: 40px 0 30px;

    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
}

.debtor-table td {
    padding: 10px 20px;
}

.debtor-table tr:nth-child(even) {
    background-color: #CFE1EB;
}

.debtor-table tr:nth-child(even) td:first-child, .debtor-table tr:nth-child(even) td:last-child {
    border-radius: 4px;
}

.debtor h3 {
    margin: 40px 30px;
}

.debtor .right-aside:last-of-type {
    top: 1023px;
}

.payment-loan {
    margin-top: 60px;
}

.payment-loan .right-aside {
    top: 72px;
}

.nested-list-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;

    margin: 40px 25px;
}

.nested-list {
    list-style: none;
    margin: 0;
    padding: 0;
    counter-reset: outline;
}

.nested-list:not(.nested-list .nested-list) {
    margin-bottom: 40px;
}

.nested-list-item {
    counter-increment: outline;
    margin-top: 10px;
}

.nested-list-item::before {
    content: counters(outline, ".") ". ";
}

.nested-list > .nested-list-item {
    font-weight: 500;
}

.nested-list > .nested-list-item .nested-list-item {
    font-weight: normal;
    margin-left: 20px;
}

.formula-wrapper {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.formula {
    padding: 20px 10px;
    margin-right: 30px;
    border: 4px solid #1C5F87;
    text-align: center;
}

.formula p {
    margin: 0;

    font-weight: 500;
    font-size: 28px;
    line-height: 45px;
}

.formula-legend p {
    margin: 0 0 10px;
    font-size: 20px;
    line-height: 28px;
}